[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
server = "uvicorn app:app --reload"

[packages]
starlette = "*"
aioredis = "*"
uvicorn = "*"
gunicorn = "*"
aiohttp = "*"
sentry-sdk = "*"

[dev-packages]

[requires]
python_version = "3.9"
